.header {
  text-align: center;
}

.header__logo {
  top: 22px;
  left: 843px;
  width: 235px;
  height: 50px;
  opacity: 1;
  margin-top: 2vw;
  margin-right: 15vw;
}

.proLogo {
  top: 20px;
  left: 30px;
  width: 311px;
  height: 50px;
  opacity: 1;
  float: left;
  margin-top: 2vw;
}
